body {
    margin: 0 auto;
}

.ui.menu .active.item,
.ui.inverted.segment {
    background-color: rgba(0, 0, 0, 0.65);
}

.ui.segment {
    border-radius: 0px !important;
}

ul {
    -webkit-padding-start: 0;
}

.ui.inverted.segment {
    border-bottom: 10px solid #fbbb32;
}